<h1>Welcome, <%=session[:name].capitalize%></h1>
<a href=/user/logout>Log Out</a><br>

<br>Here are all the songs we have:<br>
<table>
  <thead>
    <th>Artist</th>
    <th>Title</th>
    <th>Times song has been added</th>
    <th>Add to your playlist</th>
  </thead>
  <% @songs.each do |song| %>
    <tr>
      <td><%=song.author%></td>
      <td><a href="/songs/<%= song.id %>"><%=song.title%></a></td>
      <td><%=song.count%></td>
      <td><form action="/songs/addToList" method="post">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
        <input type="hidden" name="song" value="<%=song.id%>">
        <input type=submit value=Add>
      </form></td>
    </tr>
  <%end%>
</table>

<% if flash[:errors] %>
	<% flash[:errors].each do |msg| %>
    <p><%= msg %></p>
  <%end%>
<%end%>

<form action="/songs/create" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <input type="text" name="author" placeholder='Artist'><br>
  <input type="text" name="title" placeholder='Title'><br>
  <input type="submit" value="Add song"><br>
</form>
