<h1>Welcome, <%=session[:name].capitalize%></h1>
<a href=/user/logout>Log Out</a><br>
<a href=/songs/index>Dashboard</a><br>

Others who added <%=@song.title%> by <%=@song.author%><br>
<table>
  <thead>
    <th>Name</th>
    <th>How many times they have added this song to thier list</th>
  </thead>
  <% @song.playlists.each do |playlist| %>
    <tr>
      <td><a href='/user/<%=playlist.user.id%>'><%=playlist.user.name.capitalize%></a></td>
      <td><%=playlist.count%></td>
    </tr>
  <%end%>
</table>
